body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u1146 {
  position:absolute;
  left:0px;
  top:-11px;
  width:430px;
  height:880px;
}
#u1147 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1148 {
  position:absolute;
  left:26px;
  top:157px;
  width:379px;
  height:608px;
  overflow:hidden;
}
#u1148_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:608px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1148_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:228px;
}
#u1149 {
  position:absolute;
  left:25px;
  top:157px;
  width:379px;
  height:228px;
}
#u1150 {
  position:absolute;
  left:2px;
  top:106px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1151 {
  position:absolute;
  left:25px;
  top:93px;
  width:379px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1152 {
  position:absolute;
  left:2px;
  top:24px;
  width:375px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u1153 {
  position:absolute;
  left:31px;
  top:125px;
  width:12px;
  height:21px;
}
#u1154 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1155 {
  position:absolute;
  left:175px;
  top:119px;
  width:61px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u1156 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1157 {
  position:absolute;
  left:25px;
  top:385px;
  width:379px;
  height:160px;
  overflow:hidden;
}
#u1157_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:160px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u1157_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1158 {
  position:absolute;
  left:21px;
  top:10px;
  width:64px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1159 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u1160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1160 {
  position:absolute;
  left:114px;
  top:10px;
  width:64px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1161 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u1162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1162 {
  position:absolute;
  left:206px;
  top:10px;
  width:64px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1163 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u1164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1164 {
  position:absolute;
  left:299px;
  top:10px;
  width:64px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1165 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u1166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1166 {
  position:absolute;
  left:21px;
  top:84px;
  width:64px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1167 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u1168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1168 {
  position:absolute;
  left:114px;
  top:84px;
  width:64px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1169 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u1170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1170 {
  position:absolute;
  left:206px;
  top:84px;
  width:64px;
  height:64px;
}
#u1171 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u1172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1172 {
  position:absolute;
  left:299px;
  top:84px;
  width:64px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1173 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u1174 {
  position:absolute;
  left:25px;
  top:545px;
  width:379px;
  height:220px;
  overflow:hidden;
}
#u1174_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:220px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u1174_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1175 {
  position:absolute;
  left:16px;
  top:8px;
  width:29px;
  height:20px;
}
#u1176 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:148px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1177 {
  position:absolute;
  left:0px;
  top:38px;
  width:188px;
  height:148px;
}
#u1178 {
  position:absolute;
  left:2px;
  top:66px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:104px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1179 {
  position:absolute;
  left:0px;
  top:38px;
  width:188px;
  height:104px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1180 {
  position:absolute;
  left:2px;
  top:32px;
  width:184px;
  word-wrap:break-word;
}
#u1181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1181 {
  position:absolute;
  left:0px;
  top:142px;
  width:188px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1182 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u1183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1183 {
  position:absolute;
  left:0px;
  top:166px;
  width:90px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1184 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u1185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1185 {
  position:absolute;
  left:87px;
  top:146px;
  width:98px;
  height:33px;
}
#u1186 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u1187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:148px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1187 {
  position:absolute;
  left:191px;
  top:38px;
  width:188px;
  height:148px;
}
#u1188 {
  position:absolute;
  left:2px;
  top:66px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:104px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1189 {
  position:absolute;
  left:191px;
  top:38px;
  width:188px;
  height:104px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1190 {
  position:absolute;
  left:2px;
  top:32px;
  width:184px;
  word-wrap:break-word;
}
#u1191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1191 {
  position:absolute;
  left:191px;
  top:142px;
  width:188px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1192 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u1193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1193 {
  position:absolute;
  left:191px;
  top:166px;
  width:90px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1194 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u1195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1195 {
  position:absolute;
  left:278px;
  top:146px;
  width:98px;
  height:33px;
}
#u1196 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u1197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:148px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1197 {
  position:absolute;
  left:0px;
  top:196px;
  width:188px;
  height:148px;
}
#u1198 {
  position:absolute;
  left:2px;
  top:66px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:104px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1199 {
  position:absolute;
  left:0px;
  top:196px;
  width:188px;
  height:104px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1200 {
  position:absolute;
  left:2px;
  top:32px;
  width:184px;
  word-wrap:break-word;
}
#u1201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1201 {
  position:absolute;
  left:0px;
  top:300px;
  width:188px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1202 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u1203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1203 {
  position:absolute;
  left:0px;
  top:324px;
  width:90px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1204 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u1205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1205 {
  position:absolute;
  left:87px;
  top:304px;
  width:98px;
  height:33px;
}
#u1206 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u1207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:148px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1207 {
  position:absolute;
  left:191px;
  top:196px;
  width:188px;
  height:148px;
}
#u1208 {
  position:absolute;
  left:2px;
  top:66px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:104px;
  background:inherit;
  background-color:rgba(0, 204, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1209 {
  position:absolute;
  left:191px;
  top:196px;
  width:188px;
  height:104px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1210 {
  position:absolute;
  left:2px;
  top:32px;
  width:184px;
  word-wrap:break-word;
}
#u1211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1211 {
  position:absolute;
  left:191px;
  top:300px;
  width:188px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1212 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u1213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1213 {
  position:absolute;
  left:191px;
  top:324px;
  width:90px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1214 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u1215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1215 {
  position:absolute;
  left:278px;
  top:304px;
  width:98px;
  height:33px;
}
#u1216 {
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
