body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1826px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:55px;
  background:inherit;
  background-color:rgba(33, 150, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1848 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:55px;
}
#u1849 {
  position:absolute;
  left:2px;
  top:20px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1850 {
  position:absolute;
  left:23px;
  top:13px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1851 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1852 {
  position:absolute;
  left:1000px;
  top:18px;
  width:101px;
  height:16px;
  color:#FFFFFF;
}
#u1853 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u1854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
}
#u1854 {
  position:absolute;
  left:1118px;
  top:13px;
  width:22px;
  height:26px;
}
#u1855 {
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:612px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1856 {
  position:absolute;
  left:0px;
  top:55px;
  width:209px;
  height:612px;
}
#u1857 {
  position:absolute;
  left:2px;
  top:298px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1858 {
  position:absolute;
  left:34px;
  top:86px;
  width:105px;
  height:65px;
}
#u1858_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1859 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u1860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1860 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1860_img.selected {
}
#u1860.selected {
}
#u1861 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1862 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1863 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u1859_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1864 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u1865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1865 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1866 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u1867 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u1868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1868 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1869 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u1870 {
  position:absolute;
  left:34px;
  top:177px;
  width:105px;
  height:45px;
}
#u1870_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1871 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u1872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1872 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1872_img.selected {
}
#u1872.selected {
}
#u1873 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1874 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1875 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u1871_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1876 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u1877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1877 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1878 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u1879 {
  position:absolute;
  left:34px;
  top:245px;
  width:105px;
  height:45px;
}
#u1879_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1880 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u1881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1881 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1881_img.selected {
}
#u1881.selected {
}
#u1882 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1883 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1884 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u1880_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1885 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u1886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1886 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1887 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u1888 {
  position:absolute;
  left:222px;
  top:131px;
  width:1039px;
  height:207px;
}
#u1889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u1889 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u1890 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u1891 {
  position:absolute;
  left:35px;
  top:0px;
  width:162px;
  height:30px;
}
#u1892 {
  position:absolute;
  left:2px;
  top:6px;
  width:158px;
  word-wrap:break-word;
}
#u1893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u1893 {
  position:absolute;
  left:197px;
  top:0px;
  width:71px;
  height:30px;
}
#u1894 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u1895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u1895 {
  position:absolute;
  left:268px;
  top:0px;
  width:92px;
  height:30px;
}
#u1896 {
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u1897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u1897 {
  position:absolute;
  left:360px;
  top:0px;
  width:145px;
  height:30px;
}
#u1898 {
  position:absolute;
  left:2px;
  top:6px;
  width:141px;
  word-wrap:break-word;
}
#u1899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u1899 {
  position:absolute;
  left:505px;
  top:0px;
  width:101px;
  height:30px;
}
#u1900 {
  position:absolute;
  left:2px;
  top:6px;
  width:97px;
  word-wrap:break-word;
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u1901 {
  position:absolute;
  left:606px;
  top:0px;
  width:110px;
  height:30px;
}
#u1902 {
  position:absolute;
  left:2px;
  top:6px;
  width:106px;
  word-wrap:break-word;
}
#u1903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u1903 {
  position:absolute;
  left:716px;
  top:0px;
  width:115px;
  height:30px;
}
#u1904 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u1905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
}
#u1905 {
  position:absolute;
  left:831px;
  top:0px;
  width:203px;
  height:30px;
}
#u1906 {
  position:absolute;
  left:2px;
  top:6px;
  width:199px;
  word-wrap:break-word;
}
#u1907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:52px;
}
#u1907 {
  position:absolute;
  left:0px;
  top:30px;
  width:35px;
  height:52px;
  font-size:14px;
}
#u1908 {
  position:absolute;
  left:2px;
  top:18px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:52px;
}
#u1909 {
  position:absolute;
  left:35px;
  top:30px;
  width:162px;
  height:52px;
  font-size:14px;
  color:#000000;
}
#u1910 {
  position:absolute;
  left:2px;
  top:18px;
  width:158px;
  word-wrap:break-word;
}
#u1911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:52px;
}
#u1911 {
  position:absolute;
  left:197px;
  top:30px;
  width:71px;
  height:52px;
}
#u1912 {
  position:absolute;
  left:2px;
  top:18px;
  width:67px;
  word-wrap:break-word;
}
#u1913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:52px;
}
#u1913 {
  position:absolute;
  left:268px;
  top:30px;
  width:92px;
  height:52px;
}
#u1914 {
  position:absolute;
  left:2px;
  top:17px;
  width:88px;
  word-wrap:break-word;
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:52px;
}
#u1915 {
  position:absolute;
  left:360px;
  top:30px;
  width:145px;
  height:52px;
}
#u1916 {
  position:absolute;
  left:2px;
  top:18px;
  width:141px;
  word-wrap:break-word;
}
#u1917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:52px;
}
#u1917 {
  position:absolute;
  left:505px;
  top:30px;
  width:101px;
  height:52px;
}
#u1918 {
  position:absolute;
  left:2px;
  top:17px;
  width:97px;
  word-wrap:break-word;
}
#u1919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:52px;
}
#u1919 {
  position:absolute;
  left:606px;
  top:30px;
  width:110px;
  height:52px;
}
#u1920 {
  position:absolute;
  left:2px;
  top:17px;
  width:106px;
  word-wrap:break-word;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:52px;
}
#u1921 {
  position:absolute;
  left:716px;
  top:30px;
  width:115px;
  height:52px;
}
#u1922 {
  position:absolute;
  left:2px;
  top:17px;
  width:111px;
  word-wrap:break-word;
}
#u1923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:52px;
}
#u1923 {
  position:absolute;
  left:831px;
  top:30px;
  width:203px;
  height:52px;
  color:#0000FF;
}
#u1924 {
  position:absolute;
  left:2px;
  top:17px;
  width:199px;
  word-wrap:break-word;
}
#u1925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u1925 {
  position:absolute;
  left:0px;
  top:82px;
  width:35px;
  height:30px;
}
#u1926 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u1927 {
  position:absolute;
  left:35px;
  top:82px;
  width:162px;
  height:30px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:7px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u1929 {
  position:absolute;
  left:197px;
  top:82px;
  width:71px;
  height:30px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u1931 {
  position:absolute;
  left:268px;
  top:82px;
  width:92px;
  height:30px;
}
#u1932 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u1933 {
  position:absolute;
  left:360px;
  top:82px;
  width:145px;
  height:30px;
}
#u1934 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u1935 {
  position:absolute;
  left:505px;
  top:82px;
  width:101px;
  height:30px;
}
#u1936 {
  position:absolute;
  left:2px;
  top:6px;
  width:97px;
  word-wrap:break-word;
}
#u1937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u1937 {
  position:absolute;
  left:606px;
  top:82px;
  width:110px;
  height:30px;
}
#u1938 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u1939 {
  position:absolute;
  left:716px;
  top:82px;
  width:115px;
  height:30px;
}
#u1940 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
}
#u1941 {
  position:absolute;
  left:831px;
  top:82px;
  width:203px;
  height:30px;
}
#u1942 {
  position:absolute;
  left:2px;
  top:7px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u1943 {
  position:absolute;
  left:0px;
  top:112px;
  width:35px;
  height:30px;
}
#u1944 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u1945 {
  position:absolute;
  left:35px;
  top:112px;
  width:162px;
  height:30px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:7px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u1947 {
  position:absolute;
  left:197px;
  top:112px;
  width:71px;
  height:30px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u1949 {
  position:absolute;
  left:268px;
  top:112px;
  width:92px;
  height:30px;
}
#u1950 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u1951 {
  position:absolute;
  left:360px;
  top:112px;
  width:145px;
  height:30px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u1953 {
  position:absolute;
  left:505px;
  top:112px;
  width:101px;
  height:30px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:6px;
  width:97px;
  word-wrap:break-word;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u1955 {
  position:absolute;
  left:606px;
  top:112px;
  width:110px;
  height:30px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u1957 {
  position:absolute;
  left:716px;
  top:112px;
  width:115px;
  height:30px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
}
#u1959 {
  position:absolute;
  left:831px;
  top:112px;
  width:203px;
  height:30px;
}
#u1960 {
  position:absolute;
  left:2px;
  top:7px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u1961 {
  position:absolute;
  left:0px;
  top:142px;
  width:35px;
  height:30px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u1963 {
  position:absolute;
  left:35px;
  top:142px;
  width:162px;
  height:30px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:7px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u1965 {
  position:absolute;
  left:197px;
  top:142px;
  width:71px;
  height:30px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u1967 {
  position:absolute;
  left:268px;
  top:142px;
  width:92px;
  height:30px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u1969 {
  position:absolute;
  left:360px;
  top:142px;
  width:145px;
  height:30px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u1971 {
  position:absolute;
  left:505px;
  top:142px;
  width:101px;
  height:30px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u1973 {
  position:absolute;
  left:606px;
  top:142px;
  width:110px;
  height:30px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u1975 {
  position:absolute;
  left:716px;
  top:142px;
  width:115px;
  height:30px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
}
#u1977 {
  position:absolute;
  left:831px;
  top:142px;
  width:203px;
  height:30px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:7px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:30px;
}
#u1979 {
  position:absolute;
  left:0px;
  top:172px;
  width:35px;
  height:30px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:7px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u1981 {
  position:absolute;
  left:35px;
  top:172px;
  width:162px;
  height:30px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:7px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
}
#u1983 {
  position:absolute;
  left:197px;
  top:172px;
  width:71px;
  height:30px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:7px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u1985 {
  position:absolute;
  left:268px;
  top:172px;
  width:92px;
  height:30px;
}
#u1986 {
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u1987 {
  position:absolute;
  left:360px;
  top:172px;
  width:145px;
  height:30px;
}
#u1988 {
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u1989 {
  position:absolute;
  left:505px;
  top:172px;
  width:101px;
  height:30px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u1991 {
  position:absolute;
  left:606px;
  top:172px;
  width:110px;
  height:30px;
}
#u1992 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u1993 {
  position:absolute;
  left:716px;
  top:172px;
  width:115px;
  height:30px;
}
#u1994 {
  position:absolute;
  left:2px;
  top:7px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:30px;
}
#u1995 {
  position:absolute;
  left:831px;
  top:172px;
  width:203px;
  height:30px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:7px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1997 {
  position:absolute;
  left:942px;
  top:76px;
  width:92px;
  height:35px;
  color:#FFFFFF;
}
#u1998 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u1999 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2000 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:1px;
}
#u2001 {
  position:absolute;
  left:841px;
  top:655px;
  width:7px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  color:#5E5E5E;
}
#u2002 {
  position:absolute;
  left:2px;
  top:-8px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:1px;
}
#u2003 {
  position:absolute;
  left:841px;
  top:651px;
  width:7px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#5E5E5E;
}
#u2004 {
  position:absolute;
  left:2px;
  top:-8px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2005 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:1px;
}
#u2006 {
  position:absolute;
  left:572px;
  top:651px;
  width:7px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  color:#5E5E5E;
}
#u2007 {
  position:absolute;
  left:2px;
  top:-8px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:1px;
}
#u2008 {
  position:absolute;
  left:572px;
  top:655px;
  width:7px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#5E5E5E;
}
#u2009 {
  position:absolute;
  left:2px;
  top:-8px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2010 {
  position:absolute;
  left:592px;
  top:641px;
  width:26px;
  height:26px;
}
#u2011 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2012 {
  position:absolute;
  left:626px;
  top:642px;
  width:24px;
  height:24px;
}
#u2013 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2014 {
  position:absolute;
  left:602px;
  top:646px;
  width:248px;
  height:19px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2015 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  word-wrap:break-word;
}
#u2016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2016 {
  position:absolute;
  left:657px;
  top:642px;
  width:24px;
  height:24px;
}
#u2017 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2018 {
  position:absolute;
  left:688px;
  top:642px;
  width:24px;
  height:24px;
}
#u2019 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2020 {
  position:absolute;
  left:719px;
  top:642px;
  width:24px;
  height:24px;
}
#u2021 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2022 {
  position:absolute;
  left:750px;
  top:642px;
  width:24px;
  height:24px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2024 {
  position:absolute;
  left:804px;
  top:642px;
  width:24px;
  height:24px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2026 {
  position:absolute;
  left:832px;
  top:642px;
  width:24px;
  height:24px;
}
#u2027 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2028 {
  position:absolute;
  left:563px;
  top:642px;
  width:24px;
  height:24px;
}
#u2029 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2030 {
  position:absolute;
  left:232px;
  top:181px;
  width:14px;
  height:16px;
}
#u2031 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2030_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2032 {
  position:absolute;
  left:232px;
  top:217px;
  width:18px;
  height:16px;
}
#u2033 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2034 {
  position:absolute;
  left:232px;
  top:251px;
  width:18px;
  height:16px;
}
#u2035 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2034_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2036 {
  position:absolute;
  left:232px;
  top:284px;
  width:18px;
  height:16px;
}
#u2037 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2036_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:35px;
  background:inherit;
  background-color:rgba(72, 146, 221, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2038 {
  position:absolute;
  left:503px;
  top:76px;
  width:92px;
  height:35px;
  color:#FFFFFF;
}
#u2039 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u2040 {
  position:absolute;
  left:253px;
  top:76px;
  width:240px;
  height:35px;
}
#u2040_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:34px;
}
#u2041 {
  position:absolute;
  left:1533px;
  top:85px;
  width:121px;
  height:34px;
}
#u2042 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u2043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2043 {
  position:absolute;
  left:1533px;
  top:147px;
  width:121px;
  height:34px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u2045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2045 {
  position:absolute;
  left:1533px;
  top:284px;
  width:121px;
  height:34px;
}
#u2046 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2047 {
  position:absolute;
  left:1533px;
  top:346px;
  width:121px;
  height:34px;
}
#u2048 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u2049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2049 {
  position:absolute;
  left:1705px;
  top:412px;
  width:121px;
  height:34px;
}
#u2050 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u2051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2051 {
  position:absolute;
  left:1358px;
  top:412px;
  width:121px;
  height:34px;
}
#u2052 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u2053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:42px;
}
#u2053 {
  position:absolute;
  left:1540px;
  top:211px;
  width:107px;
  height:42px;
}
#u2054 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u2055 {
  position:absolute;
  left:1594px;
  top:119px;
  width:0px;
  height:0px;
}
#u2055_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u2055_seg1 {
  position:absolute;
  left:-10px;
  top:15px;
  width:20px;
  height:20px;
}
#u2056 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2057 {
  position:absolute;
  left:1594px;
  top:181px;
  width:0px;
  height:0px;
}
#u2057_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u2057_seg1 {
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u2058 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2059 {
  position:absolute;
  left:1594px;
  top:253px;
  width:0px;
  height:0px;
}
#u2059_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u2059_seg1 {
  position:absolute;
  left:-10px;
  top:18px;
  width:20px;
  height:20px;
}
#u2060 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u2061 {
  position:absolute;
  left:1594px;
  top:318px;
  width:0px;
  height:0px;
}
#u2061_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u2061_seg1 {
  position:absolute;
  left:-10px;
  top:15px;
  width:20px;
  height:20px;
}
#u2062 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:42px;
}
#u2063 {
  position:absolute;
  left:1540px;
  top:408px;
  width:107px;
  height:42px;
}
#u2064 {
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u2065 {
  position:absolute;
  left:1594px;
  top:380px;
  width:0px;
  height:0px;
}
#u2065_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u2065_seg1 {
  position:absolute;
  left:-10px;
  top:15px;
  width:20px;
  height:20px;
}
#u2066 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:34px;
}
#u2067 {
  position:absolute;
  left:1533px;
  top:488px;
  width:121px;
  height:34px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u2069 {
  position:absolute;
  left:1594px;
  top:450px;
  width:0px;
  height:0px;
}
#u2069_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u2069_seg1 {
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u2070 {
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u2071 {
  position:absolute;
  left:1647px;
  top:429px;
  width:0px;
  height:0px;
}
#u2071_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:62px;
  height:8px;
}
#u2071_seg1 {
  position:absolute;
  left:45px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2072 {
  position:absolute;
  left:-21px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u2073 {
  position:absolute;
  left:1534px;
  top:429px;
  width:0px;
  height:0px;
}
#u2073_seg0 {
  position:absolute;
  left:-55px;
  top:-4px;
  width:59px;
  height:8px;
}
#u2073_seg1 {
  position:absolute;
  left:-62px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2074 {
  position:absolute;
  left:-78px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u2075 {
  position:absolute;
  left:1419px;
  top:412px;
  width:0px;
  height:0px;
}
#u2075_seg0 {
  position:absolute;
  left:-4px;
  top:-115px;
  width:8px;
  height:115px;
}
#u2075_seg1 {
  position:absolute;
  left:-4px;
  top:-115px;
  width:118px;
  height:8px;
}
#u2075_seg2 {
  position:absolute;
  left:101px;
  top:-121px;
  width:20px;
  height:20px;
}
#u2076 {
  position:absolute;
  left:-48px;
  top:-119px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2077 {
  position:absolute;
  left:1705px;
  top:488px;
  width:121px;
  height:34px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u2079 {
  position:absolute;
  left:1766px;
  top:446px;
  width:0px;
  height:0px;
}
#u2079_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u2079_seg1 {
  position:absolute;
  left:-10px;
  top:29px;
  width:20px;
  height:20px;
}
#u2080 {
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2081 {
  position:absolute;
  left:1705px;
  top:505px;
  width:0px;
  height:0px;
}
#u2081_seg0 {
  position:absolute;
  left:-51px;
  top:-4px;
  width:55px;
  height:8px;
}
#u2081_seg1 {
  position:absolute;
  left:-58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2082 {
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2083 {
  position:absolute;
  left:1705px;
  top:215px;
  width:121px;
  height:34px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u2085 {
  position:absolute;
  left:1647px;
  top:232px;
  width:0px;
  height:0px;
}
#u2085_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:62px;
  height:8px;
}
#u2085_seg1 {
  position:absolute;
  left:45px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2086 {
  position:absolute;
  left:-21px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
