body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1705 {
  position:absolute;
  left:294px;
  top:106px;
  width:29px;
  height:16px;
}
#u1706 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u1707 {
  position:absolute;
  left:247px;
  top:93px;
  width:47px;
  height:43px;
}
#u1708 {
  position:absolute;
  left:2px;
  top:14px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1709 {
  position:absolute;
  left:504px;
  top:169px;
  width:71px;
  height:16px;
}
#u1710 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1711 {
  position:absolute;
  left:589px;
  top:165px;
  width:543px;
  height:25px;
}
#u1711_input {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1712 {
  position:absolute;
  left:484px;
  top:357px;
  width:92px;
  height:16px;
  text-align:right;
}
#u1713 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u1714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1714 {
  position:absolute;
  left:472px;
  top:388px;
  width:104px;
  height:16px;
  text-align:right;
}
#u1715 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u1716 {
  position:absolute;
  left:586px;
  top:350px;
  width:543px;
  height:25px;
}
#u1716_input {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1717 {
  position:absolute;
  left:586px;
  top:385px;
  width:543px;
  height:25px;
}
#u1717_input {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1718 {
  position:absolute;
  left:472px;
  top:423px;
  width:104px;
  height:16px;
  text-align:right;
}
#u1719 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u1720 {
  position:absolute;
  left:586px;
  top:420px;
  width:543px;
  height:25px;
}
#u1720_input {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1721 {
  position:absolute;
  left:1165px;
  top:355px;
  width:34px;
  height:16px;
}
#u1722 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1723 {
  position:absolute;
  left:1165px;
  top:388px;
  width:34px;
  height:16px;
}
#u1724 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1725 {
  position:absolute;
  left:1165px;
  top:425px;
  width:34px;
  height:16px;
}
#u1726 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1727 {
  position:absolute;
  left:483px;
  top:326px;
  width:92px;
  height:16px;
  text-align:right;
}
#u1728 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u1729 {
  position:absolute;
  left:585px;
  top:319px;
  width:543px;
  height:25px;
}
#u1729_input {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1730 {
  position:absolute;
  left:1164px;
  top:324px;
  width:34px;
  height:16px;
}
#u1731 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1732 {
  position:absolute;
  left:473px;
  top:452px;
  width:104px;
  height:16px;
  text-align:right;
}
#u1733 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u1734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1734 {
  position:absolute;
  left:441px;
  top:816px;
  width:132px;
  height:16px;
  text-align:right;
}
#u1735 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u1736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1736 {
  position:absolute;
  left:471px;
  top:205px;
  width:104px;
  height:16px;
  text-align:right;
}
#u1737 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u1738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1738 {
  position:absolute;
  left:462px;
  top:942px;
  width:104px;
  height:16px;
  text-align:right;
}
#u1739 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u1741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:55px;
  background:inherit;
  background-color:rgba(33, 150, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1741 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:55px;
}
#u1742 {
  position:absolute;
  left:2px;
  top:20px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1743 {
  position:absolute;
  left:23px;
  top:13px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1744 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1745 {
  position:absolute;
  left:1000px;
  top:18px;
  width:101px;
  height:16px;
  color:#FFFFFF;
}
#u1746 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u1747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:26px;
}
#u1747 {
  position:absolute;
  left:1118px;
  top:13px;
  width:22px;
  height:26px;
}
#u1748 {
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:612px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1749 {
  position:absolute;
  left:0px;
  top:55px;
  width:209px;
  height:612px;
}
#u1750 {
  position:absolute;
  left:2px;
  top:298px;
  width:205px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1751 {
  position:absolute;
  left:34px;
  top:86px;
  width:105px;
  height:65px;
}
#u1751_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1752 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u1753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1753 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1753_img.selected {
}
#u1753.selected {
}
#u1754 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1755 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1756 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u1752_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1757 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u1758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1758 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1759 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u1760 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u1761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1761 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1762 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u1763 {
  position:absolute;
  left:34px;
  top:177px;
  width:105px;
  height:45px;
}
#u1763_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1764 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u1765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1765 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1765_img.selected {
}
#u1765.selected {
}
#u1766 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1767 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1768 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u1764_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1769 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u1770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1770 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1771 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u1772 {
  position:absolute;
  left:34px;
  top:245px;
  width:105px;
  height:45px;
}
#u1772_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1773 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
}
#u1774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1774 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1774_img.selected {
}
#u1774.selected {
}
#u1775 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1776 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1777 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u1773_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1778 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u1779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1779 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1780 {
  position:absolute;
  left:3px;
  top:1px;
  width:53px;
  white-space:nowrap;
}
#u1781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1781 {
  position:absolute;
  left:505px;
  top:270px;
  width:71px;
  height:16px;
  text-align:right;
}
#u1782 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u1783 {
  position:absolute;
  left:590px;
  top:266px;
  width:543px;
  height:22px;
}
#u1783_input {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1783_input:disabled {
  color:grayText;
}
#u1784 {
  position:absolute;
  left:585px;
  top:200px;
  width:543px;
  height:54px;
}
#u1784_input {
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:54px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1785 {
  position:absolute;
  left:585px;
  top:776px;
  width:139px;
  height:107px;
}
#u1786 {
  position:absolute;
  left:2px;
  top:46px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:88px;
}
#u1787 {
  position:absolute;
  left:612px;
  top:786px;
  width:83px;
  height:88px;
}
#u1788 {
  position:absolute;
  left:2px;
  top:36px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1789 {
  position:absolute;
  left:1165px;
  top:169px;
  width:34px;
  height:16px;
}
#u1790 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1791 {
  position:absolute;
  left:1165px;
  top:205px;
  width:34px;
  height:16px;
}
#u1792 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1793 {
  position:absolute;
  left:1165px;
  top:269px;
  width:34px;
  height:16px;
}
#u1794 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1795 {
  position:absolute;
  left:783px;
  top:822px;
  width:115px;
  height:16px;
}
#u1796 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u1797_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:35px;
  background:inherit;
  background-color:rgba(72, 146, 221, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1797 {
  position:absolute;
  left:623px;
  top:1181px;
  width:92px;
  height:35px;
  color:#FFFFFF;
}
#u1798 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u1799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:35px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1799 {
  position:absolute;
  left:758px;
  top:1181px;
  width:92px;
  height:35px;
  color:#FFFFFF;
}
#u1800 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u1801_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:35px;
  background:inherit;
  background-color:rgba(72, 146, 221, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1801 {
  position:absolute;
  left:586px;
  top:592px;
  width:92px;
  height:35px;
  color:#FFFFFF;
}
#u1802 {
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u1803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1803 {
  position:absolute;
  left:505px;
  top:667px;
  width:71px;
  height:16px;
  text-align:right;
}
#u1804 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u1805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1805 {
  position:absolute;
  left:472px;
  top:695px;
  width:103px;
  height:16px;
  text-align:right;
}
#u1806 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u1807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1807 {
  position:absolute;
  left:462px;
  top:1044px;
  width:104px;
  height:16px;
  text-align:right;
}
#u1808 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u1809 {
  position:absolute;
  left:576px;
  top:667px;
  width:51px;
  height:18px;
}
#u1810 {
  position:absolute;
  left:16px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u1809_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1811 {
  position:absolute;
  left:644px;
  top:667px;
  width:100px;
  height:18px;
}
#u1812 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1811_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:42px;
}
#u1813 {
  position:absolute;
  left:575px;
  top:688px;
  width:193px;
  height:42px;
}
#u1814 {
  position:absolute;
  left:2px;
  top:13px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1815 {
  position:absolute;
  left:586px;
  top:899px;
  width:139px;
  height:107px;
}
#u1816 {
  position:absolute;
  left:2px;
  top:46px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:88px;
}
#u1817 {
  position:absolute;
  left:613px;
  top:909px;
  width:83px;
  height:88px;
}
#u1818 {
  position:absolute;
  left:2px;
  top:36px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:107px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1819 {
  position:absolute;
  left:586px;
  top:1023px;
  width:139px;
  height:107px;
}
#u1820 {
  position:absolute;
  left:2px;
  top:46px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:88px;
}
#u1821 {
  position:absolute;
  left:613px;
  top:1033px;
  width:83px;
  height:88px;
}
#u1822 {
  position:absolute;
  left:2px;
  top:36px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1823 {
  position:absolute;
  left:587px;
  top:455px;
  width:91px;
  height:18px;
}
#u1824 {
  position:absolute;
  left:16px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u1823_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1825 {
  position:absolute;
  left:669px;
  top:451px;
  width:69px;
  height:25px;
}
#u1825_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1826 {
  position:absolute;
  left:748px;
  top:455px;
  width:15px;
  height:16px;
}
#u1827 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u1828 {
  position:absolute;
  left:586px;
  top:486px;
  width:91px;
  height:18px;
}
#u1829 {
  position:absolute;
  left:16px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u1828_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1830 {
  position:absolute;
  left:586px;
  top:512px;
  width:305px;
  height:65px;
}
#u1831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1831 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1832 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1833 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u1834 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1835 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u1836 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1837 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u1838 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1839 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u1840 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1841 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u1842 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1843_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u1843 {
  position:absolute;
  left:898px;
  top:543px;
  width:24px;
  height:26px;
}
#u1844 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:5px;
}
#u1845 {
  position:absolute;
  left:935px;
  top:554px;
  width:30px;
  height:5px;
}
#u1846 {
  position:absolute;
  left:2px;
  top:-6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
